<div class="event-image-container">
  <%= image_tag "sos-spesa", class: 'blurred-banner' %>
  <div class="event-container">
    <div class="event-info d-flex small-image">
      <%= image_tag "sos-spesa"%>
      <div class="p-4">
        <p style="font-weight: bold;"><i class="fas fa-calendar-alt"></i> <%= @event.datetime.strftime("%^a, %e %^b") %></p>
        <p><i class="fas fa-clock"></i> <%= @event.datetime.strftime("%H:%M") %></p>
        <p><i class="fas fa-map-marker-alt"></i> <%= @event.location == nil ? "n/a" : @event.location %> </p>
        <%= render "form" %>
      </div>
    </div>
    <div class="event-details d-flex p-4">
      <div class="project-specs p-4">
        <h1 class="paragraph-title"> <%= @event.project.name %></h1>
        <p><%= @event.project.description == nil ? "n/a" : @event.project.description %></p>
      </div>
      <div class="event-specs p-4">
        <div class="border border-warning p-3">
          <p style="font-weight: bold;">ATTIVITA'</p>
          <p><%= @event.activity == nil ? "n/a" : @event.activity %></p>
          <br>
          <p style="font-weight: bold;">INFORMAZIONI *</p>
          <p><%= @event.information == nil ? "n/a" : @event.information %></p>
        </div>
      </div>
    </div>
  </div>
</div>



