<div class="form-event">
  <%= simple_form_for [ @project, @event ] do |f| %>
    <i class="fas fa-calendar-alt icon-blue"></i><%= f.input :date, input_html: {class: "datepicker bg-white", placeholder:"quando?"}, label: false, autofocus: true, required: true, error: 'Perfavore inserisci la data' %>
    <i class="fas fa-map-marker-alt icon-blue"></i><%= f.input :location, label: false, required: true, input_html: { placeholder:"dove?", class: "address-input", type: "search"} %>
    <i class="fas fa-users icon-blue"></i><%= f.input :activity, label: false, required: true, input_html: { placeholder:"attività"} %>
    <i class="fas fa-info-circle icon-blue"></i><%= f.input :information, label: false, required: true, input_html: { placeholder:"info"} %>
    <i class="fas fa-images icon-blue"></i><%= f.input :photo, as: :file, label: false, input_html: { placeholder:"foto", class: "photo-input"} %>
    <i class="fas fa-redo-alt"></i><%= f.input :repeat, label: false, collection: ['mai', 'ogni settimana', 'ogni due settimane', 'ogni mese'], selected: ['mai'], input_html: { placeholder:"ripeti"} %>
    <i class="fas fa-hourglass-end"></i><%= f.input :end_date, label: false, input_html: { placeholder:"ripeti fino al", class: "datepicker bg-white"} %>
    <%= f.submit class: "btn btn-warning btn-circle mt-3 mb-2", placeholder: "CREA EVENTO" %>
  <% end %>
</div>
