<div class="form-event">
  <%= simple_form_for [ @project, @event ] do |f| %>
    <i class="fas fa-calendar-alt icon-blue"></i><%= f.input :date, input_html: {class: "datepicker"}, label: false, required: true, input_html: { placeholder:"quando?"}, error: 'Perfavore inserisci la data' %>
    <i class="fas fa-map-marker-alt icon-blue"></i><%= f.input :location, label: false, required: true, input_html: { placeholder:"dove?"} %>
    <i class="fas fa-users icon-blue"></i><%= f.input :activity, label: false, required: true, input_html: { placeholder:"attività"} %>
    <i class="fas fa-info-circle icon-blue"></i><%= f.input :information, label: false, required: true, input_html: { placeholder:"info"} %>
    <i class="fas fa-images icon-blue"></i><%= f.input :photo, as: :file, label: false, required: true, input_html: { placeholder:"foto", class:"photo-input"} %>
    <%= f.submit class: "btn btn-warning btn-circle mt-3", placeholder: "CREA EVENTO" %>
  <% end %>
</div>
