<% if current_user.admin %>

  <div class="banner d-flex align-items-end mb-4 ">
    <div class="container-content-banner container align-items-center d-flex justify-content-between">
      <h1 class='page-title'> <%= @project.name.upcase %></h1>
      <%= link_to edit_project_path(@project) do %>
        <p class="btn btn-light btn-lg fw-bold"> DETTAGLI PROGETTO </p>
      <% end %>
    </div>
  </div>
  <div class="container grid-container">
  <% if @events.count == 0 %>
      <%= link_to new_project_event_path(@project) do  %><div class="btn btn-warning btn-circle mt-3">CREA NUOVO EVENTO</div><% end %>
  <% end %>
    <% @events.each do |event| %>
    <div class="card event-card">
      <div class="card-body">
        <div class="d-flex">
          <div class="flex-grow-1">
            <h4 class="card-title"><%= event.datetime.strftime("%^a, %e %^b") %></h4>
            <p><i class="fas fa-clock"></i> <%= event.datetime.strftime("%H:%M") %></p>
            <p><i class="fas fa-map-marker-alt"></i> <%= event.location == nil ? "n/a" : event.location  %></p>
          </div>
          <div class="btn-container">
          <%= link_to project_event_path(@project, event) do %>
            <div class="btn btn-circle btn-warning"><i class="fas fa-external-link-square-alt"></i></div>
          <% end %>
          </div>
        </div>
        <div class="d-flex">
          <h6 class="fw-bold border-top border-warning pt-3"><%= event.activity == nil ? "n/a" : event.activity  %></h6>
        </div>
      </div>
    </div>
    <% end %>
  </div>

<% else %>
  <div class="banner d-flex align-items-end mb-4">
    <div class="container-content-banner container align-items-center d-flex justify-content-between">
      <h1 class='page-title'> <%= @project.name.upcase %></h1>
      <%= link_to "#" do %>
        <p class="btn btn-primary btn-lg fw-bold"> SCOPRI DI PIU' </p>
      <% end %>
    </div>
  </div>
  <div class="container grid-container">
    <% @events.each do |event| %>
    <div class="card event-card">
      <div class="card-body">
        <div class="d-flex">
          <div class="flex-grow-1">
            <h4 class="card-title"><%= event.datetime.strftime("%^a, %e %^b") %></h4>
            <p><i class="fas fa-clock"></i> <%= event.datetime.strftime("%H:%M") %></p>
            <p><i class="fas fa-map-marker-alt"></i> <%= event.location == nil ? "n/a" : event.location  %></p>
          </div>
          <div class="btn-container">
          <%= link_to new_project_event_registration_path(@project, event) do %>
            <div class="btn btn-circle btn-warning"><i class="fas fa-external-link-square-alt"></i></div>
          <% end %>
          </div>
        </div>
        <div class="d-flex">
          <h6 class="fw-bold border-top border-warning pt-3"><%= event.activity == nil ? "n/a" : event.activity  %></h6>
        </div>
      </div>
    </div>
    <% end %>
  </div>

<% end %>
