<% if current_user.admin %>

  <div class="event-image-container">
    <%= image_tag "sos-spesa", class: 'blurred-banner' %>
    <div class="event-container">
      <div class="event-info d-flex high">
        <% if @project.photo.attached? %>
          <%= cl_image_tag @project.photo.key %>
        <% else %>
          <%= image_tag "sos-spesa"%>
        <% end %>
        <div class="p-4 event-highlights">
          <%= render "form" %>
        </div>
      </div>
      <div class="event-details-blue short p-4">
        <h1 class="paragraph-title-white"> <%= @project.name %></h1>
      </div>
    </div>
  </div>

<% end %>
