<% if current_user.admin %>

  <div class="event-image-container">
    <% if @project.photo.attached? %>
      <%= cl_image_tag @project.photo.key, class: 'blurred-banner' %>
    <% else %>
      <%= image_tag "sos-spesa", class: 'blurred-banner'%>
    <% end %>
    <div class="event-container event-container-form">
      <div class="event-info d-flex high">
        <% if @project.photo.attached? %>
          <%= cl_image_tag @project.photo.key, class: 'form-image' %>
        <% else %>
          <%= image_tag "sos-spesa", class: 'form-image'%>
        <% end %>
        <div class="p-4 event-highlights">
          <%= render "form" %>
        </div>
      </div>
      <div class="event-details-blue short p-4">
        <h1 class="paragraph-title-white"> <%= @project.name %></h1>
      </div>
    </div>
  </div>

<% end %>
