<div class="margin-footer-extra">
<% if current_user.admin %>
  <div class="event-image-container smaller-event-image-container mb-4">
    <%= image_tag "sos-spesa", class: 'blurred-banner' %>
    <div class="event-container event-container-smaller">
      <div class="event-info d-flex">
        <% if @event.photo.attached? %>
          <%= cl_image_tag @event.photo.key %>
        <% else %>
          <%= image_tag "sos-spesa"%>
        <% end %>
        <div class="p-4 event-highlights">
          <p style="font-weight: bold;"><i class="fas fa-calendar-alt"></i> <%= @event.datetime.strftime("%^a, %e %^b") %></p>
          <p><i class="fas fa-clock"></i> <%= @event.datetime.strftime("%H:%M") %></p>
          <p><i class="fas fa-map-marker-alt"></i> <%= @event.location == nil ? "n/a" : @event.location  %></p>
          <p><i class="fas fa-users"></i> <%= @event.registrations == nil ? 0 : @event.registrations.count %> volontari si sono <strong>registrati</strong></p>
          <br>
          <div class="d-flex justify-content-between event-icons align-items-center">
            <% if @event.closed %>
              <div class="btn btn-disabled btn-circle open-btn">RIAPRI ISCRIZIONI</div>
            <% else %>
              <div class="btn btn-warning btn-circle close-btn">CHIUDI ISCRIZIONI</div>
            <% end %>

            <div>
            <%= link_to edit_project_event_path(@project, @event) do %><i class="fas fa-edit" style="margin-right: 15px; color: #b5b5b5 !important;"></i><% end %><%= link_to project_event_path(@project, @event), method: :delete, data: { confirm: "Sei sicuro di voler eliminare l'evento?" } do %><i class="fas fa-trash"></i><% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="event-details d-flex p-4">
        <div class="project-specs p-4">
          <h1 class="paragraph-title"> <%= @event.project.name %></h1>
          <p><%= @event.project.description == nil ? "n/a" : @event.project.description  %></p>
        </div>
        <div class="event-specs p-4">
          <div class="orange-box border border-warning p-3">
            <p style="font-weight: bold;">ATTIVITA'</p>
            <p><%= @event.activity == nil ? "n/a" : @event.activity  %></p>
            <br>
            <p style="font-weight: bold;">INFORMAZIONI *</p>
            <p><%= @event.information == nil ? "n/a" : @event.information %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <% if @volunteers.count != 0 %>
    <h1 class="section-title-blue mb-4">Chi parteciperà?</h1>
    <% end %>
  <div class="grid-container">
    <% @volunteers.each do |volunteer| %>
    <div class="card registrations-card">
      <div class="card-body">
        <div class="d-flex">
          <div class="flex-grow-1">
            <h4 class="card-title"><%= volunteer.first_name.capitalize %> <%= volunteer.last_name.capitalize %></h4>
            <p><i class="fas fa-envelope"></i><a href="mailto:<%= volunteer.email %>" class="pl-2"><%= volunteer.email %></a></p>
            <p><i class="fas fa-phone-alt"></i><a href="num:<%= volunteer.phone_number %>" class="pl-2"><%= volunteer.phone_number %></a></p>
          </div>
          <div class="btn-container">
            <% if current_user.photo.attached? %>
              <%= cl_image_tag current_user.photo.key, class: 'avatar' %>
            <% else %>
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/mvdallarosa", class: "avatar" %>
            <% end %>
          </div>
        </div>
        <div class="border-top border-success pt-3">
          <h6 style="font-weight: bold;">VOLONTARIO DA:</h6>
          <h6><%= volunteer.created_at.strftime("%e %b, %Y") %></h6>
          <h6 style="font-weight: bold; padding-top: 10px;">HA PARTECIPATO A:</h6>
          <h6><%= volunteer.registrations == nil ? 0 : volunteer.registrations.size %> eventi.</h6>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

  <div style="display: none;">
    <%= simple_form_for([@project, @event], :html=> { class: 'close-form' }) do |f| %>
      <%= f.input :closed, input_html: { class: 'close-input' } %>
      <%= f.button :submit %>
    <% end %>
  </div>

<% else %>
  <div class="event-image-container mb-4">
    <%= image_tag "sos-spesa", class: 'blurred-banner' %>
    <div class="event-container event-container-smaller">
      <div class="event-info d-flex">
        <% if @event.photo.attached? %>
          <%= cl_image_tag @event.photo.key %>
        <% else %>
          <%= image_tag "sos-spesa"%>
        <% end %>
        <div class="p-4 event-highlights">
          <p style="font-weight: bold;"><i class="fas fa-calendar-alt"></i> <%= @event.datetime.strftime("%^a, %e %^b") %></p>
          <p><i class="fas fa-clock"></i> <%= @event.datetime.strftime("%H:%M") %></p>
          <p><i class="fas fa-map-marker-alt"></i> <%= @event.location == nil ? "n/a" : @event.location %></p>
          <% if @event.closed %>
            <div class="btn btn-disabled btn-circle mt-3 disabled">REGISTRAZIONI CHIUSE</div>
          <% else %>
            <%= link_to new_project_event_registration_path(@project, @event) do  %><div class="btn btn-warning btn-circle mt-3">PARTECIPA</div><% end %>
          <% end %>
        </div>
      </div>
      <div class="event-details d-flex p-4">
        <div class="project-specs p-4">
          <h1 class="paragraph-title"> <%= @event.project.name %></h1>
          <p><%= @event.project.description == nil ? "n/a" : @event.project.description  %></p>
        </div>
        <div class="event-specs p-4">
          <div class="orange-box border border-warning p-3">
            <p style="font-weight: bold;">ATTIVITA'</p>
            <p><%= @event.activity == nil ? "n/a" : @event.activity %></p>
            <br>
            <p style="font-weight: bold;">INFORMAZIONI *</p>
            <p><%= @event.information == nil ? "n/a" : @event.information  %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>
