<% if current_user.admin %>

  <div class="container mt-5">
    <h1 class="page-title">Volontari</h1>
    <div class="grid-container">
      <% @volunteers.each do |volunteer| %>
      <div class="card registrations-card">
        <div class="card-body">
          <div class="d-flex">
            <div class="flex-grow-1">
              <h4 class="card-title"><%= volunteer.first_name.capitalize %> <%= volunteer.last_name.capitalize %></h4>
              <p><i class="fas fa-envelope"></i><a href="mailto:<%= volunteer.email %>" class="pl-2"><%= volunteer.email %></a></p>
              <p><i class="fas fa-phone-alt"></i><a href="num:<%= volunteer.phone_number %>" class="pl-2"><%= volunteer.phone_number %></a></p>
            </div>
          </div>
          <div class="border-top border-success pt-3">
            <h6 style="font-weight: bold;">VOLONTARIO DA:</h6>
            <h6><%= volunteer.created_at.strftime("%e %b, %Y") %></h6>
            <h6 style="font-weight: bold; padding-top: 10px;">HA PARTECIPATO A:</h6>
            <h6><%= volunteer.registrations == nil ? 0 : volunteer.registrations.size %> eventi.</h6>
          </div>
        </div>
      </div>
      <% end %>
  </div>

<% end %>
