<div class="d-flex justify-content-center mt-5">
  <div class="form-devise container-blue-center narrow">
    <h1 class="section-title mb-4 text-center">Accedi</h1>
    <div class="d-flex justify-content-center">
      <div>
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">
            <%= f.input :email, required: false, label: false, input_html: { placeholder:"email"}, error: 'Perfavore inserisci la tua email' %>
            <%= f.input :password, required: false, label: false, input_html: { placeholder:"password attuale", autocomplete: "current-password"}, error: 'Perfavore inserisci la tua password' %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>

          <div class="form-actions btn btn-light btn-circle mt-3">
            <%= f.button :submit, "ACCEDI" %>
          </div>
        <% end %>
        <div class="d-flex justify-content-center">
          <p class="btn btn-warning" style="color: white !important; text-align: center; margin-top:30px; text-decoration: none;"><%= render "devise/shared/links" %></p>
        </div>
      </div>
    </div>
  </div>
</div>

